:root{
	--grc: #04D7A2;
	--bc: #1D214E;
}
body{ 
	width: 1300px;
	background-color: rgba(208, 247, 228, 0.8);
	background-image: url(img/ctbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
			
}
nav{
	width: 1300px;
}

nav ul{
	list-style: none;
}
nav ul li{
	width: 200px;
	float: left;
	line-height: 50px;
	text-align: center;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
nav ul li a:active{
    color: red;
}
.dsearch{
	height: 20px;
	float: right;
	margin-top: 10px;
}
.singup{
	background-color: steelblue;
	width: 90px;
	color: #fff;
}
.singup a{
	text-decoration: none;
	color: #fff;
}


.maindiv{
	width: 1100px;
	height: 1200px;
	margin-top: 60px;
	box-shadow: 5px 5px 10px black;
	background-color: gray;
}
.contact{
	width: 1100px;
	height: 650px;
	background-image: url(img/ctbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	float: left;

}
/* ,rgba(168, 176, 107, 0.3) 
rgba(73, 77, 43, 0.5)*/
/*  */
.contact .text{
	padding-top: 90px;
}
.contact .text h1{
	font-size: 90px;
	padding-bottom: 0px;
	margin-bottom: 0px;
} 
.p2 a{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
}
.p2{
	letter-spacing: 10px;
}
.p2 a:hover{
	color: greenyellow;
	font-size: 35px;
	transition: 3s all;
}

.contact-us{
	width: 900px;
	height: 600px;
	background-color: darkgrey;
	float: left;
	margin-top: 185px;
	margin-left: 100px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	box-shadow: 5px 5px 10px black;
	text-align: left;
}
.contact-us-text{
	width: 300px;
	height: 500px;
	float: left;
	text-align: left;
}
.form{
	width: 400px;
	height: 460px;
	float: right;
	margin: 50px 20px 0px 80px;
	box-shadow: -10px 10px 10px black;
	background-color: var(--bc);
	font-family: Segoe Print, Segoe Script;
	box-sizing: border-box;

}
.contact-us-text h2,p{
	padding-left: 10px;
}
.location{
	width: 120px;
	height: 145px;
	margin-left: 10px;
	box-shadow: 5px 5px 10px black;
	float: left;
}
.hours{
	width: 120px;
	height: 150px;
	margin-left: 50px;
	box-shadow: 5px 5px 10px black;
	float: left;
	padding-bottom: 5px;
}
.email{
	width: 120px;
	height: 140px;
	box-shadow: 5px 5px 10px black;
	float: left;
	clear: both;
	margin: 20px 0px 0px 10px;
}
.contact-us-text i{
	color: #1D214E;
}
.form h2,p{
	text-align: center;
	margin: 0px;
}
.form-container label{
	display: block;
	margin: 5px 0px 5px 0px;
	margin-left: 10px;
}
.form-container input{
	width: 350px;
	padding: 10px 5px;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
	margin: 0px 0px 5px 10px;

}
.form-container .inputs:focus{
	outline: 0;
}

.form-container .message{
	min-height: 50px;
	max-height: 100px;
}

.form-container input::placeholder{
	font-family: Segoe Print, Segoe Script;
}
.button{
	width: 150px;
	padding: 15px 10px 15px 10px;
	text-align: center;
	border-radius: 5px;
	margin: 10px 0px 5px 220px;
	background-color: green;
	font-family: Impact;
	font-size: 15px;
	color: #fff;
}




